{% include "header.html" %}


<!-- Main Content -->

<div class="container-fluid list-body">
    <div class="row">

        <div class="about">
            <h1>About</h1>
            <hr>
            This web application project is a homework of <i>100 Days of Code: The Complete Python Pro Bootcamp for
            2022.</i>
            <hr>
            <ul>
                <li>根據輸入的台股股號回傳五檔和即時份價量資訊 / Return Taiwan Stock intraday orders and volumes by given stock symbol.</li>
            </ul>
            <p>Reference</p>
            <ul>
                <li><a href="https://developer.fugle.tw/docs/data/intro">富果即時行情 API</a></li>
                <li>
                    <a href="https://stackoverflow.com/questions/49015957/how-to-get-python-graph-output-into-html-webpage-directly">How
                        to get python graph output into html webpage directly - Stack Overflow</a></li>
            </ul>
        </div>

    </div>
</div>

{% include "footer.html" %}
