<!-- Footer -->
<footer>

    <div class="row footer-container">
        <ul class="list-inline text-center">
            <li class="list-inline-item footer-text">
                My TW intraday query web application
                <a href="https://github.com/cloverwhale"><i class="fa-brands fa-github"></i></a>
            </li>
            <li>Photo by <a
                    href="https://unsplash.com/es/@bash__profile?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nicholas
                Cappello</a> on <a
                    href="https://unsplash.com/s/photos/stock?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </li>
        </ul>
    </div>

</footer>


</body>

</html>
